@import './animate.scss'; 

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translateY(-0);
  }

  60% {
    opacity: 1;
    transform: translateY(20);
  }

  75% {
    transform: translateY(-0);
  }

  90% {
    transform: translateY(50);
  }

  to {
    transform: none;
  }
}

@mixin bounceInDown($args...) {
  @include animate(bounceInDown, $args...);
}

