@import './animate.scss'; 

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    visibility: visible;
  }

  to {
    transform: translateY(0);
  }
}

@mixin slideInRight($args...) {
  @include animation(slideInRight, $args...);
}

