@import './animate.scss'; 

@keyframes bounceOutDown {
  20% {
    transform: translateY(10);
  }

  40%, 45% {
    opacity: 1;
    transform: translateY(-0);
  }

  to {
    opacity: 0;
    transform: translateY(20);
  }
}

@mixin bounceInDown($args...) {
  @include animate(bounceInDown, $args...);
}

