@import './animate.scss'; 

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@mixin fadeInLeft($args...) {
  @include animate(fadeInLeft, $args...);
}

