@import './animate.scss'; 

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(- 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@mixin fadeInDown($args...) {
  @include animate(fadeInDown, $args...);
}

