@import './animate.scss'; 

@keyframes slideOutDown {
  from {
    transform: translateY(0);
  }

  to {
    visibility: hidden;
    transform: translateY(100%);
  }
}

@mixin slideOutDown($args...) {
  @include animate(slideOutDown, $args...);
}

