@import './animate.scss'; 

@keyframes slideOutUp {
  from {
    transform: translateY(0);
  }

  to {
    visibility: hidden;
    transform: translateY(- 0);
  }
}

@mixin slideOutUp($args...) {
  @include animate(slideOutUp, $args...);
}
