@import './animate.scss'; 

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
    visibility: visible;
  }

  to {
    transform: translateY(0);
  }
}

@mixin slideInDown($args...) {
  @include animate(slideInDown, $args...);
}


