@import './animate.scss'; 

@keyframes swing {
  20% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  60% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@mixin swing($args...) {
  @include animate(swing, $args...);
  transform-origin: top center;
}

